<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td><b>Time</b></td>   <td><b>Content</b></td> <td><b>Instructor</b></td> </tr>
      <tr> <td>10:00</td>  <td>Welcome, Introduction, and Code of Conduct</td> <td>Shanonn Quinn</td> </tr>
      <tr> <td>10:15</td>  <td>Introducing the Shell</td> <td>Shanonn Quinn</td> </tr>
      <tr> <td>10:20</td>  <td>Navigating Files and Directories</td> <td>Shanonn Quinn</td> </tr>
      <tr> <td>11:00</td>  <td>Automated Version Control</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>11:05</td>  <td>Setting Up Git</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>11:10</td>  <td>Creating a Repository</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>11:20</td>  <td>Tracking Changes</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>11:40</td>  <td>Exploring History</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch breaktd> <td><b></b></td> </tr>
      <tr> <td>13:00</td>  <td>Ignoring Things</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>13:05</td>  <td>Remotes in GitHub</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>13:50</td>  <td>Collaborating</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>14:15</td>  <td>Conflicts</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>14.30</td>  <td>Open Science</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>14:40</td>  <td>Licensing</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>14:45</td>  <td>Citation</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>14:47</td>  <td>Hosting</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>14:57</td>  <td>Supplemental: Using Git from RStudio</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>15:07</td>  <td>Wrap-up</td> <td>Kyle Johnsen</td> </tr>
      <tr> <td>15:20</td>  <td>END</td> <td></td> </tr>  
    </table>
  </div>
 <!--  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>  -->
</div>
